/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue-color: ;

    /* HSL color mode */
    --first-color: #FFAB00;
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: #1b1b1b;
    --text-color: #1b1b1b;
    --text-color-light: ;
    --input-color: ;
    --body-color: ;
    --container-color: ;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem  ;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* just for this site */

body {
    margin: 0 12rem;
}

button {
    width: 100px;
    height: 35px;
    color: #1b1b1b;
    background:  var(--first-color);
    border-radius: 25px;
    line-height:  30px;
    float:  none;
    text-align:  center;
    padding:  2.5px 0 30px 0;
    transition: ease-out 0.3s;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

button:hover {
    box-shadow: inset 120px 0 0 0 rgba(110, 110, 110, 0.313);
}

/*==================== NAV ====================*/

nav {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

nav .logo {
    display: flex;
    width: 20em;
    height: 75px;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    color: #1b1b1b;
}

.logo img {
    height: 25px;
    width: 25px;
}

.logo h1 {
    font-family: Poppins, sans-serif;
    padding-left: 10px;
}

nav .menu {
    width: 60em;
    height: 75px;
    padding-top: 26px;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px;
}

.menu li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: #1b1b1b;
    transition: all 0.2s ease 0s;
}

.menu li a:hover {
    color: #9a9a9a;
    transition: all 0.2s ease 0s;
}

nav div .order-btn {
    width: 20em;
    height: 75px;
}

/*==================== MAIN - HERO ====================*/

main {
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
}

main .text {
    width: 50%;
}

.text h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.text p {
    font-size: 1.3rem;
    padding: 3rem 0;
}

.text button {
    width: 120px;
    height: 45px;
    padding:  6px 0 35px 0;
    font-size: 16px;
}

main .image {
    width: 50%;
}

/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */

